
<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-4">
    <h1 id="name">Hello {{firstName}} {{lastName}}!</h1>
    <div>
      First Name
      <input placeholder="Type your first name..."  name="first-name" value="{{firstName}}" type="text" class="form-control" />
    </div>

    <div>
      Last Name
      <input placeholder="Type your last name..."  name="last-name" value="{{lastName}}" type="text" class="form-control" />
    </div>
  </div>
</div>
