
<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-4">
    <h1 id="first-name">Hello {{firstName}} {{lastName}}!</h1>
    <input placeholder="Type your name..."  name="first-name" value="{{firstName}} {{lastName}}" type="text" class="form-control" />
  </div>
</div>
