body {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
